section .about{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
    color: #fff;
    gap: 50px;
}

section .about .boxes{
    display: flex;
    margin: 0 400px;
    gap: 20px;
}

section .about .boxes .content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section .about .boxes .content .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 30px 80px;
    background-color: #173b6d;
    border-radius: 20px;
}

section .about .boxes .content .box:hover{
    background-color: #0d1f39;
    transition: 1s;
}

section .about .boxes .info{
    display: flex;
    flex-direction: column;
    gap: 10px;   
}

.info p{
    display: flex;    
    text-align: justify;
    line-height: 20px;
    font-weight: 300;
}

@media (max-width:450px) {
    .about{
        display: flex;
        align-items: center;
    }

    section .about .boxes{
        display: flex;
        margin: 0;
        gap: 20px;
    }

    .about .boxes, .info p{
        display: flex;
        flex-direction: column;
    }

    section .about .boxes .content .box{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 30px 45px;
        background-color: #173b6d;
        border-radius: 20px;
        width: 25rem;
    }
}