.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.contact .contactBoxes{
    display: grid;
    margin: 3rem 5.625rem 0 5.625rem ;
    gap: 20px;    
    grid-template-areas:'box1 box3 box3'
                        'box2 box3 box3';
}

.contactBoxes #box1,
.contactBoxes #box2,    
.contactBoxes a{    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    text-decoration: 0;
    gap: 5px;
}

.contactBoxes #box1{
    grid-area: box1;
    background-color: #173b6d;
    border-radius: 20px;
    padding: 1rem 3rem;
}

.contactBoxes #box2{
    grid-area: box2;
    background-color: #173b6d;
    border-radius: 20px;
    padding: 1rem 5rem;
}

.contactBoxes #box3{
    grid-area: box3;
    background-color: #173b6d;
    border-radius: 20px;
    padding: 1rem 8rem;
}

.contactBoxes #box1:hover,
.contactBoxes #box2:hover{
    background-color: #0d1f39;
    transition: 1s;
}

form{
    display: grid;
    gap: 10px;    
    margin: 1.5rem 0 0;
}

input, textarea{
    width: 43rem;
    padding: 1.5rem;
    border-radius: .5rem;
    border: 0;
    background-color: transparent;
    border: 1px solid #798391;
    /* resize: none; */
    color: #798391;
}

textarea{
    height: 10rem;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn{
    padding: 15px 30px;
    border-radius: 5px;
    background-color: #0f8be4;
    color: #0d1f39;
    border: 0;
    font-size: 14px;    
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    margin: 0 0 1.5rem;
}

@media (max-width:450px) {
    .contact .contactBoxes{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #173b6d;
        padding: 20px 0 0;
        max-width: 27rem;
    }
    .contactBoxes #box1, .contactBoxes #box2{
        border: 1px solid #798391;
        width: 25rem;
    }

    input, textarea{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25rem;
    }

    form{
        width: 27rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .center{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contactBoxes #box1{
        grid-area: box1;
        border-radius: 20px;
        padding: 0;
    }
    
    .contactBoxes #box2{
        grid-area: box2;
        border-radius: 20px;
        padding: 0;
    }
    
    .contactBoxes #box3{
        grid-area: box3;
        border-radius: 20px;
        padding: 0;
    }
}
