.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem;
}

.contactBoxes{
    display: flex;
    margin-top: 50px;
    gap: 20px;
}

.contactBoxes .boxes{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contactBoxes .boxes .box, a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: 0;
    color: aliceblue;
}

.contactBoxes .boxes .box{
    display: flex;
    background-color: #173b6d;
    padding: 30px 85px;
    border-radius: 20px;
}

.contactBoxes .boxes .box:hover{
    background-color: #0d1f39;
    transition: 1s;
}

form{
    background-color: #173b6d;
    padding: 40px;
    border-radius: 20px;
}

form #frm{
    margin-top: 10px;
    padding: 20px;
    width: 16.48rem;
    outline: none;
    border: none;
    border-bottom: 1px solid #ffffff;
    background: none;
    font-size: 16px;
    color: #fff;
}

form #frmm{
    margin-top: 10px;
    padding: 10px;
    /* width: 50rem; */
    outline: none;
    border: none;
    border-bottom: 1px solid #ffffff;
    background: none;
    font-size: 16px;
    color: #fff;
}

#btn{
    padding: 15px 30px;
    border-radius: 5px;
    background-color: #0f8be4;
    border: 0;
    font-size: 14px;    
    cursor: pointer;
    text-decoration: none;
    margin-top: 2rem;
}

@media (max-width:450px) {
    .contact{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact .contactBoxes{
        display: flex;
        flex-direction: column;
    }

    .contact .contactBoxes .boxes .box{
        width: 250px;
    }

    .contact .contactBoxes .boxes form{
        display: flex;
        flex-direction: column;
    }

    .contact .contactBoxes .boxes form #frm, #frmm{
        width: 250px;
    }
}