section .xp{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    color: #fff;
    gap: 50px;
}

section .xp .skills{
    display: flex;
    margin: 0 400px;
    gap: 20px;
}

section .xp .skills .frontEnd, section .xp .skills .backEnd{    
    background-color: #173b6d;
    padding: 50px 100px;
    border-radius: 20px;
}

section .xp .skills .frontEnd:hover, section .xp .skills .backEnd:hover{
    background-color: #0d1f39;
    transition: 1s;
}

section .xp .skills .frontEnd img, section .xp .skills .backEnd img{
    width: 25px;
    height: 25px;
}

.skills .frontEnd, .skills .backEnd{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.skills .boxes{
    display: flex;
    gap: 100px;
}

.skills .boxes .box{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.skills .lang{
    display: flex;
    gap: 10px;
}

.skills .lang .list{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media (max-width:450px) {
    .xp .skills{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .xp .skills{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    section .xp .skills .frontEnd, section .xp .skills .backEnd{
        padding: 20px 40px;
    }

    .skills .boxes{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }
    
    .skills .boxes .box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 10px;        
    }
}